@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:ital,wght@1,300&family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --blue: #2C35DD;
    --white: #FFFFFF;
    --grey: #888888;
    --black1: #222;
    --black2: #999;
        --green: #47A025; 
--red:#FF0000;
    --light-blue: #ffffff;
    --shadow: rgba(0, 0, 0, 0.15);
    --card-hover: rgba(40, 123, 255, 0.1);
 --darkgray:#4B4B4B;
 --darkblue:#090C9B;
    --background-dark: #121212;
    --sidebar-background: #1E1E1E;
    --sidebar-active:#878787;
    --text-primary-dark: #E0E0E0;
    --text-secondary-dark: #B0B0B0;
    --accent-dark: #BB86FC;
    --card-background-dark: #2C2C2C;
    --card-border-dark: #3A3A3A;
    --button-background-dark: #287bff;
    --button-text-dark: #FFFFFF;
    --chart-background-dark: #2A2A2A;
    --chart-line-od1: #4CAF50;
    --chart-line-od2: #FF5722;
    --header-background-dark: #1A1A1A;
    --input-field-background-dark: #1E1E1E;
    --input-field-border-dark: #444444;
    --temperature-data-background-dark: #2C2C2C;
    --graph-axis-dark: #757575;
    --status-bar-dark: #FF5252;

--hover:#1A1B1C;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-dark);
    color: var(--text-primary-dark);

}

.wrapper {
    position: relative;
    width: 100%;
}

/* menu bar */
.menu-bar {
    background-color: var(--sidebar-background);
    width: 300px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    border-left: 10px solid var(--shadow);
    box-shadow: 5px 0 15px var(--shadow);
}

.menu-bar.active {
    width: 80px;
}

.menu-bar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-bar ul li:not(:nth-child(1)) {
    list-style: none;
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30px;
    transition: background 0.3s ease-in-out;
}

.menu-bar ul li:hover {
    background-color: var(--sidebar-active);

}

.menu-bar ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
    border-bottom: 1px solid var(--grey);
}

.menu-bar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--text-primary-dark);
    
}

.menu-bar ul li:hover a {
    color: var(--white);

}

.menu-bar ul li.active {
    background-color: var(--sidebar-active);

}

.menu-bar ul li.active a {
    color: var(--white);


}
.menu-bar ul li:hover a, .menu-bar ul li.active a {
    color: var(--white);
}

.menu-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
}

#don-hang ion-icon {
    margin-right: 10px;
}

.colum12 ion-icon {
    cursor: pointer;
    font-size: 1.3rem;
}

.menu-bar ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.menu-bar ul li a .title {
    position: relative;
    display: block;
    padding: 0px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.menu-bar ul li:hover a, .menu-bar ul li.active a {
    color: var(--white);
    background-color: var(--sidebar-active);
}



.card-box .card:hover {
    transform: scale(1.05);
    background-color: var(--sidebar-active);
    box-shadow: 0 10px 20px var(--shadow);
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: var(--background-dark);

    transition: 0.5s;
    box-shadow: -5px 0 15px var(--shadow);
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;

}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--sidebar-background);

    color: var(--white);
    box-shadow: 0 5px 10px var(--shadow);
}

.toggle, .setting {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.setting {
    font-size: 2rem;
}

/* content */
.card-box {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust the minmax values as needed */
    grid-gap: 10px;
}

.card-box .card {
    position: relative;
    background-color: var(--card-background-dark);
    color: var(--text-primary-dark);
    border: 1px solid var(--card-border-dark);
    margin: 10px;
    padding: 20px;
    border-radius: 25px;



    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    justify-content: center;
    align-items: center;
    cursor: pointer;  /* Make the card look clickable */
    box-shadow: 0 1px 10px var(--shadow); /* Slightly smaller shadow */
    transition: all ease-in-out 0.3s;
    width: 108px; /* Reduced width for a smaller card */
    height: 120px; /* Reduced height for a smaller card */
}

.card-box .card:hover {
    transform: translate(-2px, -5px);
    box-shadow: 0 10px 20px var(--shadow);
    background: var(--card-hover);
    background-color: var(--hover);


}

.switch {
    width: max-content;
    height: max-content;
    display: flex;
}

.small-switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--black2);
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.small-switch::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: var(--white);
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease-in-out;
}

.button {
    background-color: var(--black2);
    width: 60px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
}

.button::before {
    position: absolute;
    content: '';
    background-color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin: 5px;
    transition: ease-in-out 0.3s;
}

input:checked + .button {
    background-color: var(--blue);
}

input:checked + .button::before {
    transform: translateX(30px);
}

.card-box .card .card-name.checked {
    color: var(--text-primary-dark);
    font-weight: 600;
}

.card-box .card .icon-box.checked {
    color: var(--blue);
}

.switch input {
    display: none;
}

.card-box .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.card-box .card .card-name {
    color: var(--text-secondary-dark);
    font-size: 1.1em;
    margin-top: 5px;
}

.card-box .card .icon-box {
    font-size: 3.5em;
    color: var(--text-secondary-dark);
}

.card-box .card:hover .numbers,
.card-box .card:hover .card-name,
.card-box .card:hover .icon-box {
    color: var(--blue);
}

/* charts */
.graphBox {
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    min-height: 200px;
}

.box, .graphBox .box {
    position: relative;
    background: var(--card-background-dark);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px var(--shadow);
    border-radius: 20px;
}

/* details */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recentorders {
    position: relative;
    display: grid;
    min-height: 450px;
    background: var(--card-background-dark);
    padding: 20px;
    box-shadow: 0 7px 25px var(--shadow);
    border-radius: 20px;
}

.card-header h2 {
    font-weight: 600;
    color: var(--blue);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.details table {
    width: 100%;
    border-collapse: collapse;
}

.details table thead td, .cot1 table thead td, .cot2 table thead td {
    font-weight: 600;
    color: var(--text-primary-dark);
}

.details .recentorders table tr {
    color: var(--text-primary-dark);
    border-bottom: 1px solid var(--graph-axis-dark);
}

.details .recentorders table tr:last-child {
    border-bottom: none;
}

.details .recentorders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details .recentorders table tr td, .recentcustomers table tr td, .cot1 table tr td, .cot2 table tr td {
    padding: 10px;
}

.details .recentorders table tr td:last-child, .cot2 table tr td:last-child {
    text-align: end;
}

.details .recentorders table tr td:nth-child(3), .cot2 table tr td:nth-child(5) {
    text-align: end;
}

.cot2 table tr td:nth-child(4) {
    text-align: center;
}

.recentcustomers {
    position: relative;
    display: grid;
    min-height: 450px;
    padding: 20px;
    box-shadow: 0 7px 25px var(--shadow);
    border-radius: 20px;
    background: var(--card-background-dark);
}

.recentcustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentcustomers table tr td:last-child {
    text-align: end;
}

/* san pham + khach hang + don hang */
.colum12 {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-top: 10px;
}

#don-hang .colum12 {
    grid-template-columns: 2fr 1fr;
}

.colum12 .cot1 {
    position: relative;
    min-height: 650px;
    background: var(--card-background-dark);
    padding: 20px;
    box-shadow: 0 7px 25px var(--shadow);
    border-radius: 20px;
}

.colum12 .cot2 {
    position: relative;
    min-height: 650px;
    padding: 20px;
    box-shadow: 0 7px 25px var(--shadow);
    border-radius: 20px;
    background: var(--card-background-dark);
}

.cot1 table, .cot2 table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.input-box, .title-input, select {
    padding: 10px 8px 0px 8px;
    width: 100%;
}

.title-input h4 {
    font-weight: 400;
    color: var(--text-primary-dark);
}

.input-box input, select {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid var(--input-field-border-dark);
    background-color: var(--input-field-background-dark);
    color: var(--text-primary-dark);
}

.list-btn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
}

.btn-form {
    color : var(--button-text-dark);
    background: var(--blue);
    min-width: 90px;
    height: 30px;
    border: none;
    border-radius: 6px;
}


.btn-form2 {
    color: var(--button-text-dark);
    background: var(--blue);
    min-width: 40px; /* Slightly wider for better visibility */
    height: 25px; /* Slightly taller for better clickability */
    border: none;
    border-radius: 8px; /* Slightly larger border radius for a softer look */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    font-size: 12px; /* Adjusted font size for better readability */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer; /* Change cursor to pointer to indicate clickability */
    padding: 0 10px; /* Add horizontal padding for better spacing */
}

/* Hover effect */
.btn-form2:hover {
    background: var(--blue); /* Slightly darker blue on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
.btn-form:hover, .btn-form2:hover {
    background-color: var(--hover);


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-small {
    padding: 2px 5px;
    font-size: 0.8rem;
    margin: 2px;
    min-width: 10px;
}

/* responsive */
@media (max-width: 991px) {
    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
        width: 300px;
    }

    .menu-bar {
        left: -300px;
    }

    .menu-bar.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .card-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .details, .colum12, #don-hang .colum12 {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentorders {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .card-box {
        grid-template-columns: repeat(1, 1fr);
    }

    .graphBox {
        grid-template-columns: 1fr;
    }

    .widget {
        max-width: 480px;
    }

    .menu-bar {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .menu-bar.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        z-index: 1001;
    }

    .main.active .toggle {
        color: var(--white);
        position: fixed;
        right: 0;
        left: initial;
    }
}

